.header-container{
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: auto;
  align-items: center;
}

.header-container2 {
  position: absolute;
}

.menu-container ul{
  list-style: none;
  display: flex;
  gap: 10px;
  position: relative;
  top: 0;
}

.logo {
  position: absolute;
  max-width: 10%;
  height: auto;
  top: 20px;
  left: 20px;
  z-index: 2;
}

.header-a:hover {
  color: #000;
  font-weight: bold;
}

.header-a {
  transition: background-color 0.3s, color 0,3s;
  font-size: 2vw;
  padding: 30px;
  color: black;
  text-decoration: none;
}

.right-navbar {
    display: flex;
    position: relative;
    top: 35px;
    right: 50px;
    align-items: center;
    gap: 50px;
    z-index: 2;
  }

  