

.form {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    display: 
    float: left;
}

.form * {
    box-sizing: border-box;
    line-height: 1.5;
}

.form-info, .form-payment {
    font-size: 2em;
    font-weight: 600;
}

.form-payment {
    padding-top: 5%;
}

.form-name, .form-adress, .form-email, .form-phone, .form-cardnumber, .form-month, .form-year, .form-CVV, .form-cardholder{
    display: flex;
    flex-direction: column;

}

.form-name > * {
    align-self: flex-start;
}

.form__label {
    font-weight: 600;
    padding: 10px 0;
}

.form__input {
    -webkit-appearance: none;


    width: 100%;
    max-width: 425px;

    /*fix for safari/ios date fields*/
    min-height: calc(0.9em +(0.8em * 2) +0.6em);

    padding: 0.8em;
    font-size: 0.9em;

    font-family: Arial, Helvetica, sans-serif;

    outline: none;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f9f9f9;
    transition: 0.25s, border-color 0.25s, color 0.25s;

}

.form__input-month, .form__input-year, .form__input-CVV {
        -webkit-appearance: none;


    width: 100%;
    max-width: 425px;

    /*fix for safari/ios date fields*/
    min-height: calc(0.9em +(0.8em * 2) +0.6em);

    padding: 0.8em;
    font-size: 0.9em;

    font-family: Arial, Helvetica, sans-serif;

    outline: none;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f9f9f9;
    transition: 0.25s, border-color 0.25s, color 0.25s;

    width: 80px;
}

.form-myc {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.form__input:focus {
    background: #ffffff;
}

.form__input::placeholder {
    color: #bbbbbb;
}
